body {
  background: center;
  background-color: black;
  font-family: sans-serif;
}

#borda1 {
  width: 20%;
  margin: auto;
  background: #3A5FCD;
  overflow: hidden;
  padding: 15px;
  border: #3A5FCD;
  border-radius: 25px
}

#borda4 {
  width: 80%;
  margin: auto;
  background: #63B8FF;
  overflow: hidden;
  padding: 15px;
  border: #63B8FF;
  border-radius: 20px;
}

#amount1 {
  width: 25%;
  margin: auto;
  background: #63B8FF;
  overflow: hidden;
  border-radius: 20px;
  margin-left: 26px;
}

#amount2 {
  width: 25%;
  margin: auto;
  background: #63B8FF;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 26px;
}

#limpar {
  width: 25%;
  margin: auto;
  background: #63B8FF;
  overflow: hidden;
  border-radius: 5px;
  margin-left: 26px;
}
